// Variables

// Gray and Brand Colors for use across theme

$theme1:#860116;
$theme2: #F1EEE8;
$text1: #000;
$white: #FFF;
$dark:  #000;
$ws:  #00E676;


.white { color: $white;}
.dark { color: $dark;}
.theme1 { color: $theme1}






// Font Mixins

@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/Playfair_Display/PlayfairDisplay-Bold.ttf');
    src: url('../fonts/Playfair_Display/PlayfairDisplay-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/Roboto_Slab/RobotoSlab-Light.ttf');
    src: url('../fonts/Roboto_Slab/RobotoSlab-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

// Titulos
@mixin serif-font {
    font-family: 'Playfair Display', serif;
}
// Cuerpo
@mixin serif-font {
    font-family: 'Roboto Slab', serif;
}

.PlayfairDisplay {font-family: "Playfair Display", serif;}
.RobotoSlab {font-family: 'Roboto Slab', serif;}