@import "variables.scss";

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    min-height: 760px;
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
footer {
    .info {
        h2 {
            color: $white;
        }
        a {
            color: $white;
            &:hover,
            &:focus,
            &:active,
            &.active {
                color: $white;
                text-decoration: underline;
            }
        }
        background: url('../img/footer.jpg') center center no-repeat;
        background-size: cover;
        padding: 50px 0;
        form {
            label, input, textarea {
                font-size: 14px;
                font-family: 'Roboto Slab', serif !important;
                font-weight: 100;
                color: $white;
            }
            .active {
                color: $white !important;
            }
        }
        .mapa {
            height: 300px;
            width: 100%;
            background: $theme2;
        }
        .item {
            h5 {
                font-family: 'Roboto Slab', serif !important;
                font-weight: 500;
                color: $white;
                text-align: left;
                margin: 20px 0;
                span {
                    margin-right: 15px;
                    font-size: 20px;
                }
            }
            p {
                font-weight: 100;
                color: $white;
                font-size: 12px;
                span {
                    margin-right: 15px;
                    font-size: 20px;
                }
            }
        }
    }
    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        /* Set the fixed height of the footer here */
        height: 60px;
        background-color: $dark;
        .container {
            padding: 0;
            .text-muted {
                padding: 0 ;
                margin-top: 20px;
                text-align: center;
            }
        }
    }
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
code {
    font-size: 80%;
}
.row {
    margin-bottom: 0;
}
.text-primary {
    color: $theme1;
}
.form-control, .btn {
    border-radius: 0 !important;
}
.noP {
    padding: 0 !important;
}
.hide {
    display: none;
}
.btn {
    width: 250px;
    border-radius: 7px !important;
    border: none !important;
}
.btn-primary {
    background: $theme1;
    &:hover,
    &:focus,
    &:active,
    &.active {
        background: darken($theme1, 5%) !important;
    }
}
.btn-border {
    background: none;
    border: 2px solid $theme1 !important;
    color: $theme1;
    font-weight: bold;
    &:hover,
    &:focus,
    &:active,
    &.active {
        background: $white !important;
        color: $theme1 !important;
    }
}
.btn-border2 {
    background: $white;
    border: none;
    color: $theme1;
    font-weight: bold;
}
.ws {
    color: #00E676;
}
@media(max-width:768px) { 
    .ws {
        margin: 0 auto;
        width: 150px;
    }
}
.mail {
    color: $theme1;
}
.linked {
    color: #0077B5;
}
nav {
    box-shadow: none;
    i {
        line-height: inherit;
    }
}
p {
    text-align: justify;
    font-size: 14px;
    line-height: 1.75;
    font-family: 'Roboto Slab', serif;
}

p.large {
    font-size: 16px;
}

a {
    color: $theme1;
    font-family: 'Roboto Slab', serif;
    &:hover,
    &:focus,
    &:active,
    .active {
        color: darken($theme1, 10%);
        text-decoration: none;
        outline: none;
    }
}
h1 {
    font-size: 56px;
}
h3 {
    font-size: 34px;
}
@media(max-width:768px) {
    h1 {
        font-size: 36px;
    }
    h3 {
        font-size: 28px;
    }
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif !important;
    color: $dark;
    margin: 0;
    small {
        font-family: 'Roboto Slab', serif !important;
    }
}
h3 {
    color: $theme1;
}
.separador {
    margin: 30px 0;
    width: 100%;
    .linea1 {
        background: $dark;
        height: 100%;
        height: 3px;
    }
    .linea2 {
        background: $theme1;
        height: 100%;
        height: 3px;
    }
}
@media(max-width:768px) {
    .navbar-default {
        color: $white;
        background: $dark !important;
        .navbar-nav {
            li {
                padding: 5px 15px;
                a {
                    font-size: 16px;
                    padding: 10px 0px;
                    color: $white;
                    border-bottom: 2px solid $dark;
                    &:hover,
                    &:focus,
                    &:active {
                        background: none;
                        color: $white;
                        border-bottom: 2px solid $white;
                    }
                }
            }
        }
        .navbar-brand {
            color: $white !important;
            font-weight: 800;
            &:hover,
            &:focus,
            &:active {
                background: none;
                color: $theme1 !important;
            }
        }
    }
    .dark {
        color: $dark !important;
        background: $white !important;
        .navbar-nav {
            li {
                padding: 5px 15px;
                a {
                    font-size: 16px;
                    padding: 10px 0px;
                    color: $white;
                    border-bottom: 2px solid $white;
                    &:hover,
                    &:focus,
                    &:active {
                        background: none;
                        color: $white;
                        border-bottom: 2px solid $white;
                    }
                }
            }
        }
        .navbar-brand {
            color: $dark !important;
            font-weight: 800;
            &:hover,
            &:focus,
            &:active {
                background: none;
                color: $theme1 !important;
            }
        }
    }
}
.navbar-default {
    background: none;
    border: none;

    .navbar-nav {
        li {
            padding: 5px 15px;
            a {
                font-size: 16px;
                padding: 10px 0px;
                color: $white;
                &:hover,
                &:focus,
                &:active {
                    background: none;
                    color: $white;
                    border-bottom: 2px solid $white;
                }
            }
        }
        .active {
            background: none;
            a {
                color: $white;
                background: none;
                border-bottom: 2px solid $white;
                &:hover,
                &:focus,
                &:active {
                    background: none;
                    color: $white;
                }
            } 
        }
        .ws {
            color: #00E676;
            border: 1px solid #00E676;
            border-radius: 10px;
            padding-left: 40px;
            padding-right: 15px;
            &:hover,
            &:focus,
            &:active {
                background: none;
                color: $ws;
                border: 1px solid $ws;
            }
            i {
                font-size: 20px;
                margin-bottom: -5px;
                position: absolute;
                left: 15px;
            }
        }
    }
    .navbar-brand {
        text-align: left;
        color: $white;
        font-weight: 800;
        img {
            width: 40px;
            float: left;
            margin-top: -5px;
            margin-right: 10px;
        }
        &:hover,
        &:focus,
        &:active {
            background: none;
            color: $white;
        }
    }
}
.dark {
    color: $dark;
    background: $white;
    transition: .5s;
    .navbar-nav {
        li {
            a {
                color: $dark;
                &:hover,
                &:focus,
                &:active {
                    background: none;
                    color: $dark;
                    border-bottom: 2px solid $dark;
                }
            }
        }
        .active {
            a {
                color: $dark;
                border-bottom: 2px solid $dark;
                &:hover,
                &:focus,
                &:active {
                    background: none;
                    color: $dark;
                    border-bottom: 2px solid $dark;
                }
            } 
        }
    }
    .navbar-brand {
        color: $dark;
        font-weight: 800;
        &:hover,
        &:focus,
        &:active {
            background: none;
            color: $theme1;
        }
    }
}




.slider {
    max-height: 500px;
    overflow: hidden;
    background: #000;
    img {
        width: 100%;
    }
    .cb-slideshow {
        list-style: none;
    }
}



.sect1 {
    padding: 30px 0;
    background: $white;
    .content {
        padding: 50px 100px;
    }
}

@media(max-width:768px) {
    .sect1 {
        padding: 30px 0;
        background: $white;
        .content {
            padding: 0;
        }
    }
}

.sect2 {
    background: $theme2;
    padding: 50px 0 150px 0;
    h1 {
        margin-bottom: 50px;
    }
    .servicio {
        margin-bottom: 50px;
        .img {
            background: url('../img/servicio1.jpg') center center no-repeat;
            background-size: cover;
            width: 100%;
            height: 230px;
            position: absolute;
            z-index: 1000;
            top: 25px;
        }
        .img2 {
            background: url('../img/servicio2.jpg') center center no-repeat;
            background-size: cover;
            width: 100%;
            height: 250px;
            position: absolute;
            z-index: 1000;
            top: 50px;
        }
        .img3 {
            background: url('../img/servicio3.jpg') center center no-repeat;
            background-size: cover;
            width: 100%;
            height: 250px;
            position: absolute;
            z-index: 1000;
            top: 50px;
        }
        .info {
            background: $white;
            margin-left: -50px;
            padding: 30px 40px 20px 100px;
            height: 280px;
            border-radius: 10px;
            h3 {
                margin-bottom: 30px;
                text-align: left;
            }
            p {
                margin-bottom: 10px;
            }
            .indentado {
                border-left: 3px solid $theme1;
                margin-left: 20px;
                padding-left: 20px;
                margin-bottom: 20px;
            }
            .btn-servicio {
                position: absolute;
                bottom: 20px;
                right: 100px;
            }
        }
    }
    .serviciosm {
        margin-bottom: 50px;
        .img {
            background: url('../img/servicio1.jpg') center center no-repeat;
            background-size: cover;
            width: 100%;
            height: 230px;
            position: absolute;
            z-index: 1000;
            top: 50px;
            left: 0;
        }
        .img2 {
            background: url('../img/servicio2.jpg') center center no-repeat;
            background-size: cover;
            width: 100%;
            height: 200px;
            position: absolute;
            z-index: 1000;
            top: 50px;
            left: 0;
        }
        .img3 {
            background: url('../img/servicio3.jpg') center center no-repeat;
            background-size: cover;
            width: 100%;
            height: 200px;
            position: absolute;
            z-index: 1000;
            top: 50px;
            left: 0;
        }
        .info {
            background: $white;
            margin-left: -30px;
            padding: 40px 30px 0 60px;
            border-radius: 10px;
            height: 300px;
            h3 {
                margin-bottom: 30px;
                text-align: left;
            }
            p {
                font-size: 12px;
                margin-bottom: 20px;
            }
            .indentado {
                border-left: 3px solid $theme1;
                margin-left: 20px;
                padding-left: 20px;
            }
            .btn-servicio {
                position: absolute;
                bottom: -50px;
                right: 0;
            }
        }
    }
}

@media(max-width:992px) {
    .sect2 {
        background: $theme2;
        padding: 50px 0 50px 0;
        h1 {
            margin-bottom: 50px;
        }
        .servicio {
            margin-bottom: 20px;
            .img {
                background: url('../img/servicio1.jpg') center center no-repeat;
                background-size: cover;
                width: 100%;
                height: 230px;
                position: relative;
                z-index: 1000;
                top: auto;
                margin-bottom: 10px;
            }
            .img2 {
                background: url('../img/servicio2.jpg') center center no-repeat;
                background-size: cover;
                width: 100%;
                height: 250px;
                position: absolute;
                z-index: 1000;
                top: 50px;
            }
            .img3 {
                background: url('../img/servicio3.jpg') center center no-repeat;
                background-size: cover;
                width: 100%;
                height: 250px;
                position: absolute;
                z-index: 1000;
                top: 50px;
            }
            .info {
                background: $white;
                margin-left: auto;
                padding: 20px 40px;
                height: auto;
                border-radius: 10px;
                h3 {
                    margin-bottom: 30px;
                    text-align: left;
                }
                p {
                    margin-bottom: 20px;
                }
                .indentado {
                    border-left: 3px solid $theme1;
                    margin-left: 10px;
                    padding-left: 10px;
                    margin-bottom: 20px;
                }
                .btn-servicio {
                    position: relative;
                    bottom: auto;
                    right: auto;
                }
            }
        }
        .serviciosm {
            margin-bottom: 20px;
            .img {
                background: url('../img/servicio1.jpg') center center no-repeat;
                background-size: cover;
                width: 100%;
                height: 250px;
                position: relative;
                z-index: 1000;
                top: auto;
                margin-bottom: 10px;
            }
            .img2 {
                background: url('../img/servicio2.jpg') center center no-repeat;
                background-size: cover;
                height: 250px;
                position: relative;
                z-index: 1000;
                top: auto;
                margin-bottom: 10px;
            }
            .img3 {
                background: url('../img/servicio3.jpg') center center no-repeat;
                background-size: cover;
                width: 100%;
                height: 250px;
                position: relative;
                z-index: 1000;
                top: auto;
                margin-bottom: 10px;
            }
            .info {
                background: $white;
                margin-left: auto;
                padding: 10px;
                height: auto;
                border-radius: 10px;
                h3 {
                    margin-bottom: 30px;
                    text-align: left;
                }
                p {
                    margin-bottom: 20px;
                }
                .indentado {
                    border-left: 3px solid $theme1;
                    margin-left: 10px;
                    padding-left: 10px;
                    margin-bottom: 20px;
                }
                .btn-servicio {
                    position: relative;
                    bottom: auto;
                    right: auto;
                }
            }
        }
    }
}
@media(max-width:768px) {
    .sect2 {
        background: $theme2;
        padding: 50px 0 50px 0;
        h1 {
            margin-bottom: 50px;
        }
        .servicio {
            margin-bottom: 20px;
            .img {
                background: url('../img/servicio1.jpg') center center no-repeat;
                background-size: cover;
                width: 100%;
                height: 250px;
                position: relative;
                z-index: 1000;
                top: auto;
                margin-bottom: 10px;
            }
            .img2 {
                background: url('../img/servicio2.jpg') center center no-repeat;
                background-size: cover;
                width: 100%;
                height: 250px;
                position: absolute;
                z-index: 1000;
                top: 50px;
            }
            .img3 {
                background: url('../img/servicio3.jpg') center center no-repeat;
                background-size: cover;
                width: 100%;
                height: 250px;
                position: absolute;
                z-index: 1000;
                top: 50px;
            }
            .info {
                background: $white;
                margin-left: auto;
                padding: 10px;
                height: auto;
                border-radius: 10px;
                h3 {
                    margin-bottom: 30px;
                    text-align: left;
                }
                p {
                    margin-bottom: 20px;
                }
                .indentado {
                    border-left: 3px solid $theme1;
                    margin-left: 10px;
                    padding-left: 10px;
                    margin-bottom: 20px;
                }
                .btn-servicio {
                    position: relative;
                    bottom: auto;
                    right: auto;
                }
            }
        }
        .serviciosm {
            margin-bottom: 20px;
            .img {
                background: url('../img/servicio1.jpg') center center no-repeat;
                background-size: cover;
                width: 100%;
                height: 250px;
                position: relative;
                z-index: 1000;
                top: auto;
                margin-bottom: 10px;
            }
            .img2 {
                background: url('../img/servicio2.jpg') center center no-repeat;
                background-size: cover;
                height: 250px;
                position: relative;
                z-index: 1000;
                top: auto;
                margin-bottom: 10px;
            }
            .img3 {
                background: url('../img/servicio3.jpg') center center no-repeat;
                background-size: cover;
                width: 100%;
                height: 250px;
                position: relative;
                z-index: 1000;
                top: auto;
                margin-bottom: 10px;
            }
            .info {
                background: $white;
                margin-left: auto;
                padding: 10px;
                height: auto;
                border-radius: 10px;
                h3 {
                    margin-bottom: 30px;
                    text-align: left;
                }
                p {
                    margin-bottom: 20px;
                }
                .indentado {
                    border-left: 3px solid $theme1;
                    margin-left: 10px;
                    padding-left: 10px;
                    margin-bottom: 20px;
                }
                .btn-servicio {
                    position: relative;
                    bottom: auto;
                    right: auto;
                }
            }
        }
    }
}

.sect3 {
    .box {
        padding: 50px 100px;
    }
    @media(max-width:768px) {
        .box {
            padding: 20px;
        }
    }
    .insti {
        background: $theme1;
        height: 400px;
        color: $white;
        h1, h3 {
            color: $white;
            text-align: right;
            margin-bottom: 20px;
        }
        h3 {
            font-family: 'Roboto Slab', serif !important;
        }
    }
    .pro {
        background: url('../img/pro.jpg') center center no-repeat;
        background-size: cover;
        height: 400px;
        color: $dark;
        h1 {
            color: $dark;
            text-align: left;
            margin-bottom: 20px;
        }
        h3 {
            margin-bottom: 20px;
            font-weight: bold;
            font-family: 'Roboto Slab', serif !important;
        }
    }
}


.sect4 {
    .pro1 {
        background: url('../img/pro1.jpg') top center no-repeat;
        background-size: cover;
        height: 350px;
    }
    .pro2 {
        background: url('../img/pro2.jpg') top center no-repeat;
        background-size: cover;
        height: 350px;
    }
    h1 {
        margin: 50px 0;
        text-align: center;
    }
    .box {
        padding: 20px 40px;
        h4 {
            color: $theme1;
            font-family: 'Roboto Slab', serif !important;
            font-weight: bold;
            margin-bottom: 20px;
            span {
                color: $dark;
            }
        }
        p {
            font-size: 12px;
            margin-bottom: 20px;
        }
        ul {
            list-style: none;
            margin-bottom: 20px;
            li {
                span {
                    margin-right: 10px;
                }
            }
        }
        .btn {
            margin: 0 auto;
        }
    }
}


.sect5 {
    padding: 50px 0;
    background: $theme2;
    .panel-title {
        color: $dark;
        font-size: 18;
        font-weight: 100;
        font-family: 'Roboto Slab', serif !important;
        i {
            color: $theme1;
        }
    }
    .panel-group {
        .panel-heading {
            border-bottom: 0;
            border: 1px solid $theme1;
            border-radius: 4px;
        }
    }
    .panel-body {
        color: $dark;
        font-size: 16;
        font-weight: 100;
        font-family: 'Roboto Slab', serif !important;
        padding: 20px 100px;
        text-align: justify;
    }
}
@media(max-width:768px) {
    .sect5 {
        padding: 50px 0;
        background: $theme2;
        .panel-title {
            color: $dark;
            font-size: 18;
            font-weight: 100;
            font-family: 'Roboto Slab', serif !important;
            i {
                color: $theme1;
            }
        }
        .panel-group {
            .panel-heading {
                border-bottom: 0;
                border: 1px solid $theme1;
                border-radius: 4px;
            }
        }
        .panel-body {
            color: $dark;
            font-size: 16;
            font-weight: 100;
            font-family: 'Roboto Slab', serif !important;
            padding: 20px 20px;
            text-align: justify;
        }
    }
}


.modal {
    .close {
        color: $theme1;
        opacity: .5;
    }
    .modal-header{
        padding: 15px;
        border-bottom: 0;
    }
    .modal-footer {
        padding: 15px;
        border-top: 0;
    }
    .profesionales {
        padding: 0 10px;
        background: $theme2;
        .pro1 {
            background: url('../img/pro1.jpg') top center no-repeat;
            background-size: cover;
            height: 150px;
            width: 150px;
            border-radius: 100%;
            margin-right: 20px;
        }
        .pro2 {
            background: url('../img/pro2.jpg') top center no-repeat;
            background-size: cover;
            height: 150px;
            width: 150px;
            border-radius: 100%;
            margin-right: 20px;
        }
        @media(max-width:768px) {
            .pro1, .pro2 {
                margin: 0 auto;
            }
        }
        h1 {
            margin: 50px 0;
            text-align: center;
        }
        .box {
            .row {
                border-radius: 10px;
                padding: 10px;
                background: $white;
                margin-bottom: 10px;
                @media(max-width:768px) {
                    .name {
                        text-align: center
                    }
                }
                h4 {
                    color: $theme1;
                    font-family: 'Roboto Slab', serif !important;
                    font-weight: 800;
                    margin-bottom: 20px;
                    span {
                        color: $dark;
                    }
                }
                @media(max-width:768px) {
                    h4 {
                        margin-top: 20px;
                    }
                }
                p {
                    font-size: 12px;
                    margin-bottom: 20px;
                }
                ul {
                    list-style: none;
                    margin-bottom: 20px;
                    li {
                        span {
                            margin-right: 10px;
                        }
                    }
                }
            }
            
        }
    }
    .email {
        padding: 20px 50px;
        h2 {
            color: $theme1;
            span {
                color: $dark;
            }
        }
        form {
            label, input, textarea {
                font-size: 14px;
                font-family: 'Roboto Slab', serif !important;
                font-weight: 100;
                color: $dark;
            }
            .active {
                color: $dark !important;
            }
        }
    }
    @media(max-width:768px) {
        .email {
            padding: 10px;
            h2 {
                color: $theme1;
                span {
                    color: $dark;
                }
            }
            form {
                label, input, textarea {
                    font-size: 14px;
                    font-family: 'Roboto Slab', serif !important;
                    font-weight: 100;
                    color: $dark;
                }
                .active {
                    color: $dark !important;
                }
            }
        }
    } 
}



.contactado {
    background: url('../img/contactado.jpg') center center no-repeat;
    background-size: cover;
    height:100vh;
    padding-top: 250px;
    h1 {
        color: $theme1;
    }
}